<app-navbar></app-navbar>
<div class="row mt-5">
  <div class="col" *ngIf="loading; else heroCards">
    <div class="d-flex justify-content-center">
      <div class="spinner-border"></div>
    </div>
  </div>
  <ng-template #heroCards>
    <div class="col-md-6 col-lg-4" *ngFor="let hero of heroes">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <a [routerLink]="[hero.id]" class="stretched-link">
              <img
                src="{{ hero.images!.sm }}"
                alt="{{ hero.slug }}"
                class="card-img-top"
              />
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ hero.name }}</h5>
              <p class="card-text">{{ hero.work!.occupation }}</p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Intelligence: </strong
              ><span
                class="text-{{ getStatClass(hero.powerstats!.intelligence) }}"
                >{{ hero.powerstats!.intelligence }}</span
              >
            </li>
            <li class="list-group-item">
              <strong>Speed: </strong
              ><span class="text-{{ getStatClass(hero.powerstats!.speed) }}">{{
                hero.powerstats!.speed
              }}</span>
            </li>
            <li class="list-group-item">
              <strong>Power: </strong
              ><span class="text-{{ getStatClass(hero.powerstats!.power) }}">{{
                hero.powerstats!.power
              }}</span>
            </li>
            <li class="list-group-item">
              <strong>Gender: </strong>{{ hero.appearance!.gender }}
            </li>
            <li class="list-group-item">
              <strong>Race: </strong>{{ hero.appearance!.race }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</div>
